.double-underline {
  text-decoration-line: underline;
  text-decoration-style: double;
}
/* Header */
.header-bg {
  background: linear-gradient(90deg, #4b79a1, #283e51);
}

/* Card hover effect */
.complain-card {
  border: 5px solid #3a97f4 !important;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
}
.complain-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* Status tracker */
.status-box {
  gap: 1rem;
}
.status-item {
  position: relative;
  text-align: center;
}
.status-line {
  height: 4px;
  background-color: #dee2e6;
  margin: 0 4px;
  border-radius: 2px;
}

/* Description */
.description {
  line-height: 1.5;
}

/* Read more */
.read-more {
  cursor: pointer;
}
.read-more:hover {
  text-decoration: underline;
}
.deleteComplain {
  width: auto;
  color: red;
  font-size: 2rem;
  font-weight: 400;
  margin-top: 0;
}

/* Reply box */
.reply-textarea {
  background-color: #f8f9fa;
  border-radius: 5px;
}
@media (max-width: 756px) {
  .complain-card {
    width: 80vw;
    margin-right: 15px;
    padding: 0px !important;
    border: 2px solid #3a97f4 !important;
    transition:
      transform 0.2s,
      box-shadow 0.2s;
  }
  .dashboard-header {
    width: 80vw;
  }
}
